.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}
.programsHeader {
    display: flex;
    gap: 5rem;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    text-transform: uppercase;
    justify-content: center;
}
.programsCatergories {
    display: flex;
    gap: 1rem;
}
.catergory {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    background-color: #808080;
    color: #ffffff;
    padding: 2rem;
}
.catergory:hover {
    background: var(--planCard);
    cursor: pointer;
}
.catergory > :nth-child(1) {
    width: 2rem;
    height: 2rem;
    fill: #ffffff;
}
.catergory > :nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}
.catergory > :nth-child(3) {
    font-size: 0.9rem;
    line-height: 25px;
}
.joinNow {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.joinNow > img {
    width: 1rem;
}
@media screen and (max-width: 914px) {
    .programsHeader {
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .programsCatergories{
        flex-direction: column;
    }
}
